<html>
    <head>
        <title>TeleJ's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">TeleJ's Blog</a></h1>
        </div>

        <div>
            <p>published: 14AUG2019</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post on the blog!</p>
        </div>

        <div>
            <p>published: 14AUG2019</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post on the blog! Woot!</p>
        </div>
    </body>
</html>
